.idea/
src/Hao.MES.Api/bin/
src/Hao.MES.Api/obj/Hao.MES.Api.csproj.nuget.dgspec.json
src/Hao.MES.Api/obj/Hao.MES.Api.csproj.nuget.g.props
src/Hao.MES.Api/obj/Hao.MES.Api.csproj.nuget.g.targets
src/Hao.MES.Api/obj/project.assets.json
src/Hao.MES.Api/obj/project.nuget.cache
src/Hao.MES.Api/obj/project.packagespec.json
src/Hao.MES.Api/obj/rider.project.model.nuget.info
src/Hao.MES.Api/obj/rider.project.restore.info
src/Hao.MES.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Hao.MES.Api/obj/Debug/net8.0/apphost.exe
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES..F69BC70A.Up2Date
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.AssemblyInfo.cs
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.AssemblyInfoInputs.cache
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.assets.cache
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.csproj.AssemblyReference.cache
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.csproj.CoreCompileInputs.cache
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.csproj.FileListAbsolute.txt
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.dll
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.GeneratedMSBuildEditorConfig.editorconfig
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.genruntimeconfig.cache
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.GlobalUsings.g.cs
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.MvcApplicationPartsAssemblyInfo.cache
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.MvcApplicationPartsAssemblyInfo.cs
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.pdb
src/Hao.MES.Api/obj/Debug/net8.0/Hao.MES.Api.sourcelink.json
src/Hao.MES.Api/obj/Debug/net8.0/staticwebassets.build.json
src/Hao.MES.Api/obj/Debug/net8.0/ref/Hao.MES.Api.dll
src/Hao.MES.Api/obj/Debug/net8.0/refint/Hao.MES.Api.dll
src/Hao.MES.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.Hao.MES.Api.props
src/Hao.MES.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Hao.MES.Api.props
src/Hao.MES.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Hao.MES.Api.props
src/Hao.MES.Common/bin/Debug/net8.0/Hao.MES.Common.deps.json
src/Hao.MES.Common/bin/Debug/net8.0/Hao.MES.Common.dll
src/Hao.MES.Common/bin/Debug/net8.0/Hao.MES.Common.pdb
src/Hao.MES.Common/obj/Hao.MES.Common.csproj.nuget.dgspec.json
src/Hao.MES.Common/obj/Hao.MES.Common.csproj.nuget.g.props
src/Hao.MES.Common/obj/Hao.MES.Common.csproj.nuget.g.targets
src/Hao.MES.Common/obj/project.assets.json
src/Hao.MES.Common/obj/project.nuget.cache
src/Hao.MES.Common/obj/project.packagespec.json
src/Hao.MES.Common/obj/rider.project.model.nuget.info
src/Hao.MES.Common/obj/rider.project.restore.info
src/Hao.MES.Common/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.AssemblyInfo.cs
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.AssemblyInfoInputs.cache
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.assets.cache
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.csproj.AssemblyReference.cache
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.csproj.CoreCompileInputs.cache
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.csproj.FileListAbsolute.txt
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.dll
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.GeneratedMSBuildEditorConfig.editorconfig
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.GlobalUsings.g.cs
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.pdb
src/Hao.MES.Common/obj/Debug/net8.0/Hao.MES.Common.sourcelink.json
src/Hao.MES.Common/obj/Debug/net8.0/ref/Hao.MES.Common.dll
src/Hao.MES.Common/obj/Debug/net8.0/refint/Hao.MES.Common.dll
src/Hao.MES.IService/bin/Debug/net8.0/Hao.MES.IService.deps.json
src/Hao.MES.IService/bin/Debug/net8.0/Hao.MES.IService.dll
src/Hao.MES.IService/bin/Debug/net8.0/Hao.MES.IService.pdb
src/Hao.MES.IService/obj/Hao.MES.IService.csproj.nuget.dgspec.json
src/Hao.MES.IService/obj/Hao.MES.IService.csproj.nuget.g.props
src/Hao.MES.IService/obj/Hao.MES.IService.csproj.nuget.g.targets
src/Hao.MES.IService/obj/project.assets.json
src/Hao.MES.IService/obj/project.nuget.cache
src/Hao.MES.IService/obj/project.packagespec.json
src/Hao.MES.IService/obj/rider.project.model.nuget.info
src/Hao.MES.IService/obj/rider.project.restore.info
src/Hao.MES.IService/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.AssemblyInfo.cs
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.AssemblyInfoInputs.cache
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.assets.cache
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.csproj.CoreCompileInputs.cache
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.csproj.FileListAbsolute.txt
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.dll
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.GeneratedMSBuildEditorConfig.editorconfig
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.GlobalUsings.g.cs
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.pdb
src/Hao.MES.IService/obj/Debug/net8.0/Hao.MES.IService.sourcelink.json
src/Hao.MES.IService/obj/Debug/net8.0/ref/Hao.MES.IService.dll
src/Hao.MES.IService/obj/Debug/net8.0/refint/Hao.MES.IService.dll
src/Hao.MES.Model/bin/Debug/net8.0/Hao.MES.Model.deps.json
src/Hao.MES.Model/bin/Debug/net8.0/Hao.MES.Model.dll
src/Hao.MES.Model/bin/Debug/net8.0/Hao.MES.Model.pdb
src/Hao.MES.Model/obj/Hao.MES.Model.csproj.nuget.dgspec.json
src/Hao.MES.Model/obj/Hao.MES.Model.csproj.nuget.g.props
src/Hao.MES.Model/obj/Hao.MES.Model.csproj.nuget.g.targets
src/Hao.MES.Model/obj/project.assets.json
src/Hao.MES.Model/obj/project.nuget.cache
src/Hao.MES.Model/obj/project.packagespec.json
src/Hao.MES.Model/obj/rider.project.model.nuget.info
src/Hao.MES.Model/obj/rider.project.restore.info
src/Hao.MES.Model/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.AssemblyInfo.cs
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.AssemblyInfoInputs.cache
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.assets.cache
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.csproj.CoreCompileInputs.cache
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.csproj.FileListAbsolute.txt
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.dll
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.GeneratedMSBuildEditorConfig.editorconfig
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.GlobalUsings.g.cs
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.pdb
src/Hao.MES.Model/obj/Debug/net8.0/Hao.MES.Model.sourcelink.json
src/Hao.MES.Model/obj/Debug/net8.0/ref/Hao.MES.Model.dll
src/Hao.MES.Model/obj/Debug/net8.0/refint/Hao.MES.Model.dll
src/Hao.MES.Repository/bin/Debug/net8.0/Hao.MES.Common.dll
src/Hao.MES.Repository/bin/Debug/net8.0/Hao.MES.Common.pdb
src/Hao.MES.Repository/bin/Debug/net8.0/Hao.MES.Model.dll
src/Hao.MES.Repository/bin/Debug/net8.0/Hao.MES.Model.pdb
src/Hao.MES.Repository/bin/Debug/net8.0/Hao.MES.Repository.deps.json
src/Hao.MES.Repository/bin/Debug/net8.0/Hao.MES.Repository.dll
src/Hao.MES.Repository/bin/Debug/net8.0/Hao.MES.Repository.pdb
src/Hao.MES.Repository/obj/Hao.MES.Repository.csproj.nuget.dgspec.json
src/Hao.MES.Repository/obj/Hao.MES.Repository.csproj.nuget.g.props
src/Hao.MES.Repository/obj/Hao.MES.Repository.csproj.nuget.g.targets
src/Hao.MES.Repository/obj/project.assets.json
src/Hao.MES.Repository/obj/project.nuget.cache
src/Hao.MES.Repository/obj/project.packagespec.json
src/Hao.MES.Repository/obj/rider.project.model.nuget.info
src/Hao.MES.Repository/obj/rider.project.restore.info
src/Hao.MES.Repository/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES..826CF592.Up2Date
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.AssemblyInfo.cs
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.AssemblyInfoInputs.cache
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.assets.cache
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.csproj.AssemblyReference.cache
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.csproj.CoreCompileInputs.cache
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.csproj.FileListAbsolute.txt
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.dll
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.GeneratedMSBuildEditorConfig.editorconfig
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.GlobalUsings.g.cs
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.pdb
src/Hao.MES.Repository/obj/Debug/net8.0/Hao.MES.Repository.sourcelink.json
src/Hao.MES.Repository/obj/Debug/net8.0/ref/Hao.MES.Repository.dll
src/Hao.MES.Repository/obj/Debug/net8.0/refint/Hao.MES.Repository.dll
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Common.dll
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Common.pdb
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.IService.dll
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.IService.pdb
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Model.dll
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Model.pdb
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Repository.dll
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Repository.pdb
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Service.deps.json
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Service.dll
src/Hao.MES.Service/bin/Debug/net8.0/Hao.MES.Service.pdb
src/Hao.MES.Service/obj/Hao.MES.Service.csproj.nuget.dgspec.json
src/Hao.MES.Service/obj/Hao.MES.Service.csproj.nuget.g.props
src/Hao.MES.Service/obj/Hao.MES.Service.csproj.nuget.g.targets
src/Hao.MES.Service/obj/project.assets.json
src/Hao.MES.Service/obj/project.nuget.cache
src/Hao.MES.Service/obj/project.packagespec.json
src/Hao.MES.Service/obj/rider.project.model.nuget.info
src/Hao.MES.Service/obj/rider.project.restore.info
src/Hao.MES.Service/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES..F09BC3C6.Up2Date
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.AssemblyInfo.cs
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.AssemblyInfoInputs.cache
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.assets.cache
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.csproj.AssemblyReference.cache
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.csproj.CoreCompileInputs.cache
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.csproj.FileListAbsolute.txt
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.dll
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.GeneratedMSBuildEditorConfig.editorconfig
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.GlobalUsings.g.cs
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.pdb
src/Hao.MES.Service/obj/Debug/net8.0/Hao.MES.Service.sourcelink.json
src/Hao.MES.Service/obj/Debug/net8.0/ref/Hao.MES.Service.dll
src/Hao.MES.Service/obj/Debug/net8.0/refint/Hao.MES.Service.dll
